title{
	font-family: tahoma ;
	
}

body {
	background-color: red
	
}
h1{
	color: blue;
	font-family: arial 60%  ;
	
}
.con
{
	background-color: green
	
}
.Encabezado
{
	background-color: blue;
	
}
.FOTO
{
	width: 50%;background-image
}
.BIO
{
	color: brown
}